*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;

    min-height: 100vh;
    width: 100%;
}

.header{
    display: grid;
    grid-template-columns: auto;
 
 

    >h1{
        text-align: center;
        padding: 15px;
    }
}

#candy_bag{
  
        display: grid;
        grid-template-columns: auto;
        place-items: center;
       >#candy_img{
        width: 250px;
       }
    }